body {
    background: yellow;
    font-family:Arial, Malvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin: 10px;
    background : #f9ddd2
    border-radius:5pix;
}

.assignment img {
    width: 250px;
    padding: 10px;
    border:2px solid #4a6274;
}

h1 {
    color: blue;
    text-align:center;
}

a{
    text-decoration:none;
    color: white;
}

a:hover{
    color: #4a6274
}